<!DOCTYPE html>
<html lang="en">
    <head>
        <title>HealthCare - Reset Password</title>
        <style>
            body {
                max-width: 900px;
            }

            .account-verification {
                width: 100%;
                margin: auto;
                text-align: center;
            }

            table {
                text-align: center;
            }

            .btn. {
                width: 100%;
                display: block;
                max-width: 400px;
                margin: auto;
                font-weight: 600;
                background-color: rgb(16, 47, 185);
                color: white;
                text-align: center;
            }

            footer {
                margin-top: 3em;
            }
        </style>
    </head>

    <body>
        <div>
            <header>
                <table>
                    <tbody>
                        <tr>
                            <td>
                              <h1>Reset your password</h1>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </header>

            <main class="account-verificaition">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <p class="text-">Please click the button below to reset your password</p>

                                <br />
                                <br />

                                <a
                                    class="block btn btn--primary btn--lg" 
                                    rel="noreferrer"
                                    href={{password_reset_link}}
                                    target="_blank"
                                >Reset My Password</a>
                                
                                <br />
                                <br />

                                <p>This link expires in 5 minutes.</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </main>

            <footer>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <p>Please ignore if you didn't request to reset your password. We also recommend you review your account details</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </footer>
        </div>
    </body>
</html>